<% @page_title = "Comment on #{@patient.name}'s Performance" %>

<div class="my-form">
  <%= link_to "<< Go Back", patient_plan_of_care_path(@patient, @sub_goal.goal) %>
  <div class="my-form__body">
    <%= render "form" %>
  </div>
</div>
