<%= form_with(model: [@patient, @poc], local: true) do |form| %>

  <div>
    <%= form.label :goal_id, style: "display: block" %>
    <%= form.select(:goal_id, @available_goals.map { |g| [g.title, g.id] }) %>
  </div>

<!--  <input list="goals" class="form-control" name="goals">-->
<!--  <datalist id="goals">-->
    <%# @available_goals.each do |goal| %>
<!--      <option value="<%#= goal.title %>">-->
    <%# end  %>
<!--  </datalist>-->

  <div>
    <%= form.submit %>
  </div>
<% end %>