<h1><%= @patient.name %>'s Plan of Care</h1>

<%= link_to 'Back', root_path %> ||

<%= link_to "Assign new goal to #{@patient.name}", new_patient_plan_of_care_path(@patient) %>

<br>
<br>

<p style="color: green"><%= notice %></p>

<!--<div style="background-color: #d864f1">-->
  <%# @patient_goals.each do |goal| %>
    <%#= goal.title%>

<!--    <div style="background-color: #e0dc3d">-->
      <%# goal.sub_goals.each do |sub_goal| %>
<!--        <%#= sub_goal.title %> |-->
        <%# if !@patient.sub_goals.exists?(sub_goal.id) %>
          <%#=   link_to 'Create Note', new_patient_comment_path(@patient, {sub_goal_id: sub_goal.id}) %>
        <%# else %>
          <%#=   link_to 'Edit Note' %>
        <%# end %>

<!--          <div style="background-color: #85d472">-->
            <%# sub_goal.words.each do |word| %>
              <%#= word.name %>
<!--              <br>-->
            <%# end %>
<!--          </div>-->
      <%# end %>
<!--    </div>-->
  <%# end %>
<!--</div>-->


<%# @patient_goals.each do |goal| %>
  <%#= goal.title%>
  <%#= render goal%>
<!--  <br>-->
  <%# goal.sub_goals.each do |sub| %>
    <%#= sub.title %>
<!--    <br>-->
    <%# sub.words.each do |word| %>
      <%#= render word %>
<!--      <br>-->
    <%# end %>
<!--    <br>-->
  <%# end %>
<!--  <br>-->
<%# end %>


<%# @patient_goals.each do |goal| %>
  <%#= render goal%>
<%# end %>
