<% @page_title = 'All Patients' %>

<div class="patients">
  <% @patients.each do |patient| %>
    <div class="patient">
      <%= link_to patient.name, patient_plan_of_cares_path(patient) %>
    </div>
  <% end %>
</div>
