
<div class="tile">
  <div class="content">
    <strong>Word:</strong>
    <%= word.name %> ||
  </div>
  <div class="links">
    <% if role == 'admin' %>
      <%= link_to "Edit", edit_goal_sub_goal_word_path(goal, sub_goal, word) %>
      <%= button_to "Delete", [sub_goal.goal, sub_goal, word], method: :delete, class: :button %>
    <% end %>

    <% if role == 'therapist' %>
      <% if !@patient.words.exists?(word.id) %>
        <%= link_to 'Do Trials', new_patient_pronunciation_path(@patient, {word_id: word.id}) %>
      <% end %>
    <% end %>
  </div>
</div>
