<% @page_title = "Edit | #{@word.name}" %>

<div class="my-form">
  <%= link_to "<< Go Back", goals_path, class: 'back__link' %>
  <div class="my-form__body">
    <%= render "form", word: @word %>
  </div>
</div>


