<% @page_title = 'Add New Word' %>

<div class="my-form">
  <%= link_to "<< Go Back", goal_path(@goal), class: 'back__link' %>
  <div class="my-form__body">
    <%= render "form", word: @word %>
  </div>
</div>


