<h1>All Goals</h1>

<%= link_to "Add New goal", new_goal_path, class: 'my-button' %>
<br />
<br />

<h2>Long term Goals</h2>
<%= render @ltg_goals %>

<h2>Short term Goals</h2>
<%= render @stg_goals %>

