/* MY- CONTAINER */

.my-container {
  max-width: 94%;
  margin: 4em auto 0;
}

/* MY_NAVBAR */

.my-navbar-bg {
  background: transparent linear-gradient(90deg, #b621fe 0%, #1fd1f9 100%) 0% 0% no-repeat padding-box;
}

/* MY-BUTTON */

.my-btn {
  background: transparent linear-gradient(90deg, #b621fe 0%, #1fd1f9 100%) 0% 0% no-repeat padding-box;
  border-radius: 2em;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border: 1px solid transparent;
}

.my-btn__small {
  border-radius: 1em;
  padding: 0.2em 1em;
  font-weight: normal;
}

.my-btn__delete {
  background: transparent linear-gradient(90deg, #e02222 0%, #dc8d31 100%) 0% 0% no-repeat padding-box;
}

.my-btn:hover {
  background: #fff 0% 0% no-repeat padding-box;
  color: #b621fe;
  border-color: #b621fe;
}

/* MY_TILE */

.my-tile {
  border: 1px solid;
  border-left-width: 5px;
  border-radius: 0.4em;
  margin-top: 0.5em;
}

.my-tile__item {
  display: flex;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #6a79fc;
}

.my-tile__item:hover {
  color: #fff;
}

.back__link {
  font-weight: 700;
  text-decoration: none;
  color: #8d8d8d;
}

.back__link:hover {
  font-weight: 700;
  text-decoration: underline;
  color: #6d6d6d;
}

.no_content__message {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 4em;
  color: #ccc;
}

.no_content__message span {
  display: block;
  font-size: 1.2rem;
}

/* NOTIFICATIONS */

.notification .notification-green {
  color: green;
}

.notification .notification-red {
  color: red;
}
