.my-form {
  margin: 6em 2em 2em;
  padding: 2em 4em;
  border-image-slice: 1;
  box-shadow: 1px 1px 4px 2px #ccc;
  border-radius: 0.5em;
}

.my-form__body {
  margin: 0 auto 2em;
  width: 80%;
}

.my-form__control {
  margin-bottom: 2em;
}

.my-form label {
  display: block;
}

.my-form__action-btn {
  font-weight: 700;
  width: 50%;
  margin: auto;
  border-radius: 2em;
  color: #fff;
  border: 2px solid transparent;
  padding: 0.8em;
  background: transparent linear-gradient(90deg, #b621fe 0%, #1fd1f9 100%) 0% 0% no-repeat padding-box;
}

.my-form__action-btn:hover {
  background: transparent;
  color: #b621fe;
  border-color: #b621fe;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  color: royalblue;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  border: 1px solid royalblue;
  padding: 0.5em;
  border-radius: 0.2em;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
  border: 1px solid #b621fe;
}

select {
  background-color: transparent;
  cursor: pointer;
}

select option {
  color: royalblue;
}

textarea {
  height: 8em;
}
