.acc-body__controls {
  margin-top: 1em;
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

.comment_message {
  font-style: oblique;
  margin-top: -1em;
  width: 100%;
  padding: 0.5em;
  background-color: #a6e0a6;
  border-radius: 0.2em;
}

.comment_message span {
  font-weight: 700;
  font-style: normal;
}
