<% @page_title = 'Add New Sub-Goal' %>

<div class="my-form">
  <%= link_to "<< Go Back", goals_path, class: 'back__link' %>
  <div class="my-form__body">
    <%= render "form", sub_goal: @sub_goal %>
  </div>
</div>

