<nav class="navbar navbar-expand-lg navbar-dark my-navbar-bg fixed-top">
  <div class="container-fluid">
    <%= link_to 'visit notes', patients_path, class: 'navbar-brand' %>
    <div class="navbar-brand"><%= @page_title || 'No Title' %></div>
    <ul class="navbar-nav fw-bold">
      <li class="nav-item">
        <%= link_to 'Patients', patients_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Goals', goals_path, class: 'nav-link active' %>
      </li>
    </ul>
  </div>
</nav>